@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap');

:root {
  /* colors */
  --color-cloud: #d2dae5;
  --color-coal: #1a202c;
  --color-slate: #3a4556;
  --color-teal: #48c3c7;

  /* fonts */
  --font-lato: 'Lato', sans-serif;

  /* hamburger nav */
  --hamburger-nav-background-color: var(--color-slate);
  --hamburger-nav-width: 240px;
  --hamburger-nav-z-index: 1;

  /* hamburger toggle */
  --hamburger-toggle-width: 32px;
  --hamburger-toggle-z-index: 2;

  /* hamburger toggle line */
  --hamburger-toggle-line-background-color: var(--color-cloud);
  --hamburger-toggle-line-height: 2px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font: 400 16px var(--font-lato);
}

body {
  background: var(--color-coal);
  color: white;
}

a {
  color: var(--color-teal);
  text-decoration: none;
}

a:hover {
  opacity: .75;
}

nav ul {
  list-style: none;
}

nav li {
  display: block;
  margin: 0 0 16px;
}

.hamburger {
  height: 100vh;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  width: var(--hamburger-nav-width);
}

.hamburger-nav {
  background-color: var(--hamburger-nav-background-color);
  min-height: 100vh;
  padding: 98px 32px 32px;
  position: absolute;
  right: calc(-1 * var(--hamburger-nav-width));
  top: 0;
  transition: right .5s;
  width: var(--hamburger-nav-width);
  z-index: var(--hamburger-nav-z-index);
}

.hamburger-nav.active {
  right: 0;
}

.hamburger-toggle {
  border-radius: 50%;
  display: block;
  margin: 32px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: var(--hamburger-toggle-z-index);
  width: var(--hamburger-toggle-width);
}

.hamburger-toggle .hamburger-toggle-line {
  background-color: var(--hamburger-toggle-line-background-color);
  display: block;
  height: 2px;
  transform-origin: 0 0;
  transition: transform .5s, opacity .25s;
  width: 100%;
}

.hamburger-toggle .hamburger-toggle-line + .hamburger-toggle-line {
  margin: 8px 0 0;
}

.hamburger-toggle.active .hamburger-toggle-line:first-of-type {
  transform: rotate(37.5deg);
}

.hamburger-toggle.active .hamburger-toggle-line:last-of-type {
  transform: rotate(-37.5deg);
}

.hamburger-toggle.active .hamburger-toggle-line:not(:first-of-type):not(:last-of-type) {
  opacity: 0;
}
