@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

:root {
  --color-coal: #1a202c;
  --color-slate: #3a4556;
  --color-teal: #5a9698;
  --font-noto-sans: 'Noto Sans', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font: 400 16px var(--font-noto-sans);
}

body {
  background: var(--color-coal);
  color: white;
}

a {
  color: var(--color-teal);
  text-decoration: none;
}

nav ul {
  list-style: none;
}

nav li {
  display: block;
  margin: 8px 0;
}

.hamburger {
  --hamburger-nav-background-color: var(--color-slate);
  --hamburger-nav-width: 240px;
  --hamburger-nav-z-index: 1;
  --hamburger-toggle-background-color: white;
  --hamburger-toggle-height: 12px;
  --hamburger-toggle-width: 32px;
  --hamburger-toggle-z-index: 2;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  width: var(--hamburger-nav-width);
}

.hamburger-nav {
  background-color: var(--hamburger-nav-background-color);
  min-height: 100vh;
  padding: calc(32px + var(--hamburger-toggle-height)) 32px 32px;
  position: absolute;
  right: calc(-1 * var(--hamburger-nav-width));
  top: 0;
  transition: right .5s;
  width: var(--hamburger-nav-width);
  z-index: var(--hamburger-nav-z-index);
}

.hamburger-nav.active {
  right: 0;
}

.hamburger-toggle {
  border-radius: 50%;
  display: block;
  margin: 16px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: var(--hamburger-toggle-z-index);
}

.hamburger-toggle:after,
.hamburger-toggle:before {
  background-color: var(--hamburger-toggle-background-color);
  border-radius: calc(var(--hamburger-toggle-height) / 6);
  content: ' ';
  display: block;
  height: calc(var(--hamburger-toggle-height) / 3);
  margin: calc(var(--hamburger-toggle-height) / 3) 0;
  position: relative;
  width: var(--hamburger-toggle-width);
}
